<template>
  <div class="hello">
    <vs-row vs-justify="center">
      <vs-col type="flex" vs-w="8" vs-justify="center" vs-align="center">
        <vs-card class="bg-gray-200" actionable>
          <div slot="header" class="text-bold text-2xl">
            <h2>Ronin Sax PWA</h2>
          </div>
          <div>
            <span class="text-bold text-xl">PWa with vue cli</span>
            <div class="my-1rem">
              <vs-collapse>
                <vs-collapse-item>
                  <div slot="header">Hello</div>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Placeat, aut!
                </vs-collapse-item>
                <vs-collapse-item>
                  <div slot="header">Wat</div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Labore, voluptates atque officia sit magni rem tempora et
                  totam minima! Quod!
                </vs-collapse-item>
                <vs-collapse-item>
                  <div slot="header">Jam</div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptas est, ex soluta, impedit nisi magnam eaque blanditiis
                  quis earum nesciunt iure nobis corporis explicabo voluptatem.
                  Praesentium quas quis sed facilis!
                </vs-collapse-item>
                <vs-collapse-item>
                  <div slot="header">Who</div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Itaque labore quis a harum eos, nobis blanditiis alias!
                  Dignissimos architecto quo pariatur hic deleniti voluptatem,
                  suscipit quis voluptatibus consequatur doloribus ea dolor,
                  cumque eaque, ipsam ad maxime praesentium? Consequatur
                  obcaecati illum, libero quis eligendi odit voluptas facere
                  sequi et quaerat fugit dolor corrupti quas, aliquam iusto
                  nobis? Aperiam enim id, incidunt, exercitationem sint nobis
                  modi doloremque dignissimos hic quibusdam repudiandae quidem
                  rerum est. Expedita blanditiis placeat, optio laborum ad odio
                  veritatis enim soluta cum, molestias laboriosam veniam non
                  facere necessitatibus illum repudiandae maxime a! Corporis
                  minima rerum natus, molestiae aut accusamus.
                </vs-collapse-item>
              </vs-collapse>
            </div>
          </div>
          <div slot="footer">
            <vs-row justify="flex-end">
              <vs-button icon="favorite" class="footer"></vs-button>
              <vs-button icon="turned_in_not" class="footer"></vs-button>
            </vs-row>
          </div>
        </vs-card>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data: () => ({}),
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  margin-top: 1rem;
}
.footer {
  margin: 0 0.5rem;
}
</style>
