<template>
  <div class="bg-gray-200">
    <vs-navbar
      type="shadow"
      class="nabarx"
      v-model="activeItem"
      active-text-color="rgb(56, 113, 209)"
    >
      <div slot="title">
        <vs-navbar-title> Welcome to Ronin </vs-navbar-title>
      </div>
      <vs-navbar-item index="0" class="font-bold">
        <vs-button to="#" type="line">Home</vs-button>
      </vs-navbar-item>
      <vs-navbar-item index="1" class="font-bold">
        <vs-button to="#" type="line">About</vs-button>
      </vs-navbar-item>
      <vs-navbar-item index="2" class="font-bold">
        <vs-button to="#" type="line">Contact</vs-button>
      </vs-navbar-item>
    </vs-navbar>
  </div>
</template>

<script>
export default {
  data: () => ({
    activeItem: 0,
  }),
  methods: {},
};
</script>

<style scoped></style>
