<template>
  <div id="app">
    <vs-popup
      :active.sync="updateExists"
      closable
      close-icon="close"
      class="alert"
      title="App Update"
    >
      New content available
      <div style="margin-block: 1rem">
        <vs-button @click="refreshApp" type="relief">Refresh</vs-button>
      </div>
    </vs-popup>
    <div>
      <TheNavbar />
    </div>
    <HelloWorld />
  </div>
</template>

<script>
export default {
  name: "App",

  data() {
    return {
      refreshing: false,
      registration: null,
      updateExists: false,
    };
  },

  created() {
    // Listen for swUpdated event and display refresh snackbar as required.
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    // Refresh all open app tabs when a new service worker is installed.
    if (navigator.serviceWorker) {
      navigator.serviceWorker.addEventListener("controllerchange", () => {
        if (this.refreshing) return;
        this.refreshing = true;
        window.location.reload();
      });
    }
  },
  methods: {
    showRefreshUI(e) {
      this.registration = e.detail;
      this.updateExists = true;
    },
    refreshApp() {
      this.updateExists = false;
      if (!this.registration || !this.registration.waiting) {
        return;
      }
      this.registration.waiting.postMessage("skipWaiting");
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.alert{
  text-align: center;
}
</style>
